@model OziBazaar.Web.Models.Admin.ProductGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="form-horizontal">
    <h4>Product Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewTemplate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewTemplate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditTemplate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditTemplate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
