@model OziBazaar.Web.ViewModel.AdvertisementViewModel

<div class="form-horizontal">
        <h4>Advertisement information</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CategoryId)
        @Html.HiddenFor(model => model.AdvertisementId)
      
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FinishDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinishDate)
                @Html.ValidationMessageFor(model => model.FinishDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
    </div>
