@model OziBazaar.Web.ViewModel.AdvertisementViewModel
<script src="~/Scripts/jquery-2.1.0.js"></script>
<script src="~/Scripts/ozibazar.dependentdropdown.js"></script>
<script src="~/Scripts/ozibazar.validation.js"></script>
<script src="~/Scripts/sweet-alert.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/sweet-alert.css">


@using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post, new { id = "editProdForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Partial("AdvertisementInfo",Model)
        <hr />
    <div>
        @Html.Raw(HttpUtility.HtmlDecode(ViewBag.ProductInfo))
    </div>
    <input type="submit" value="Update" class="btn btn-primary" />
    @Html.ActionLink("Upload Images", "Index", new { controller = "Media", adId = ViewBag.AdvertisementId, productId = ViewBag.ProductId }, new { @class = "btn btn-primary" });
    <input type="reset" value="Clear" class="btn btn-primary" />
    @Html.ActionLink("Back To List", "MyAdList", new { controller = "Ad" }, new { @class="btn btn-primary"})
}
@section scripts
{
    <script type="text/javascript" language="javascript">
        $(function () {

            // Configure date pickers
            $('#StartDate').datepicker({ dateFormat: "dd/mm/yy" });
            $("#FinishDate").datepicker({ dateFormat: "dd/mm/yy" });

            // Configure validators for start date and end date
            $('input[type="submit"]').click(function () {
                if ($('#StartDate').val() == '' || $('#FinishDate').val() == '') {
                    swal({ title: "Error!", text: "Start date and Finish date for advertisement are required", type: "error", confirmButtonText: "Ok" });
                    //alert('Start date and Finish date for advertisement are required');
                    return false;
                }
                return true;
            });
        });
    </script>
}