@{
    ViewBag.Title = "View Product";
}
<script src="~/Scripts/jquery-2.1.0.js"></script>
<h2>View Product </h2> 
<div>
    @Html.Raw(HttpUtility.HtmlDecode(ViewBag.ProductInfo))
    @Html.ActionLink("Back To List", "AdList", new { controller = "Ad" }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Add to wish list", "AddToWishList", new { controller = "WishList", adId = ViewBag.AdvertisementId }, new { @class = "btn btn-primary" })
    @if (ViewBag.IsAdOwner)
    {
        @Html.ActionLink("Upload Images", "Index", new { controller = "Media", adId = ViewBag.AdvertisementId,productId=ViewBag.ProductId }, new { @class = "btn btn-primary" });
    }
    <br />    
</div>
@*<div id="my-dialog"></div>*@

@*<script type="text/javascript">
    $(function () {
        $('#my-dialog').dialog({
            autoOpen: false,
            width: 960,
            height:500,
            resizable: false,
            modal: true
        });

        $('a.imageViewerdialog').click(function () {
            $('#my-dialog').load(this.href, function () {
                DownloadImages(@ViewBag.ProductId);
                $(this).dialog('open');
            });
            return false;
        });
    });
</script>*@