<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OziBazaar online Sale</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-inner">
        <div class="container">
            <div class="row">
                <div class="span8">
                    @Html.ActionLink("Ozi Bazaar", "Index", "Home", null, new { @class = "brand" })
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Advertisements", "AdList", "Ad")</li>
                            @if (User.Identity.IsAuthenticated)
                            { 
                                <li>@Html.ActionLink("My Ozi Bazaar", "Index", "UserDashboard", new { area = "UserManagement" }, new{})</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="span4">
                    @Html.Partial("~/Areas/UserManagement/Views/Shared/_LoginPartial.cshtml")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content" id="body-content">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Ozi Bazaar framework</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Content/bootstrap/js")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
