<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OziBazaar online Sale</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-inner">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <ul class="nav">
                        <li>@Html.ActionLink("Ozi Bazaar", "Index", "Home", null, new { @class = "brand" })</li>
                        <li>@Html.ActionLink("My details", "Detail", "UserDashboard")</li>
                        <li>@Html.ActionLink("My Advertisements", "Advertisement", "UserDashboard")</li>
                    </ul>
                </div>
                <div class="span4">

                    @Html.Partial("_LoginPartial")

                </div>
            </div>

        </div>
        </div>
    <div class="container body-content" id="body-content">
        @RenderBody()

    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Ozi Bazaar framework</p>
    </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/Content/bootstrap/js")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("scripts", required: false)

</body>
</html>


