@model OziBazaar.DAL.Models.LocalPasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/UserManagement/Views/Shared/_UserDashboardLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
    <div class="row-fluid">
        @using (Html.BeginForm("ChangePassword", "Account", new { area = "UserManagement" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>
                <legend>Change Password Form</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.OldPassword)
                        @Html.PasswordFor(m => m.OldPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </li>
                </ol>
                <input type="submit" value="Change password" class="btn btn-primary" />
            </fieldset>
        }
    </div>
</div>
