@using System.Web.Mvc.Html
@model OziBazaar.DAL.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Areas/UserManagement/Views/Shared/_AccountLayout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">

        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Reset Password Form</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.EmailAddress)
                        @Html.TextBoxFor(m => m.EmailAddress)
                        @Html.ValidationMessageFor(m => m.EmailAddress)
                    </li>
                </ol>
                <input type="submit" value="Reset password" class="btn btn-primary" />
            </fieldset>
        }
    </div>
</div>
