@model IEnumerable<OziBazaar.Web.Models.Ad>

@if (!ViewBag.OwnerView)
{
    <h2>All Ad List</h2>
}
else
{
    <h2>My Advertisement</h2>
    <p>
        @Html.ActionLink("Create New", "AddAd","Ad")
    </p>
}
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        @if (ViewBag.OwnerView)
            {
              <th></th>
            }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>                
                @Html.ActionLink(item.Title, "ViewProduct", "Product", new { adId = item.Id}, null)
            </td>
            @if (ViewBag.OwnerView)
            {  
              <td>
               
                @Html.ActionLink("Edit", "EditProduct", "Product", new {advertisementId=item.Id , productId = item.ProductId,categoryId=item.CategoryId }, null)
                &nbsp;|&nbsp;
                @Html.ActionLink("Delete", "DeleteAd", "Ad", new { adId = item.Id, productId = item.ProductId, categoryId = item.CategoryId }, null)

                @if (item.EndDate < DateTime.Now)
                {
                    <span style="color:red;"> (Expired)</span>
                }
                else if (item.StartDate > DateTime.Now)
                {
                    <span style="color:green;"> (Future,)</span>
                }
            </td>
            }
        </tr>
    }
</table>
